/* CSS FOR AbtUs.js*/

#abtUpperDiv{
    background: linear-gradient(157.81deg, rgba(32, 139, 216, 0.3) 15%,rgba(173, 107, 204, 0.4361) 73%);
    padding: 3em;
}

#abtP{
    color: white;
    font-size: large; 
    font-weight: normal; 
    margin-top: 0.5em;
}

#introPara{
    color: white;
    font-size: 1.5em; 
    font-weight: normal; 
    margin-top: 0.5em;
}

#abtH1{
    color: white;
    text-align: center;
    font-size: 3.5em; 
    margin-top: 0.5em;
}

#abtCenterDiv{
    margin-top: 3em;
    margin-bottom: 5em;
}

#headerTransitionColor{
    background: linear-gradient(178.0deg, rgba(32, 139, 216, 0.3) 15%,rgba(173, 107, 204, 0.4361) 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    margin-bottom: 2em;
}
#abtStoryDiv{
    margin-top: 3em;
    background: linear-gradient(12.3deg, rgba(32, 139, 216, 0.4) 80%,rgba(173, 107, 204, 0.4361) 20%);
    padding: 3em;
}
