.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

#upperDiv{
  background: linear-gradient(157.81deg, rgba(32, 139, 216, 0.3) 15%,rgba(173, 107, 204, 0.4361) 80%);
  padding-bottom: 3em;
}

.App-body {
  min-height: 100vh;
  min-width: 100vw;
}


#explanation {
  color: white;
  font-size: large; 
  font-weight: normal; 
  margin-top: 0.5em;
}

#loginDiv{
  background-color: rgba(196, 196, 196, 0.2);
  width: 500px;
  height: 300px;
  padding-top: 10px;
  margin-top: 5em;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.4);
}


#message {
  background: linear-gradient(157.81deg, rgba(32, 139, 216, 0.3) 15%,rgba(173, 107, 204, 0.4361) 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
}

#signInMsg {
  font-size: large;
  color:rgb(109, 106, 106);
}


#footerDiv{
  background-color: aqua;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loginAbt{
  color: white;
  text-align: center;
  font-size: 3.5em; 
  margin-top: 0.5em;
}

#featureDiv{
  margin-bottom: 3em;
}

#sloGan0{
  background: linear-gradient(57.81deg, rgba(32, 139, 216, 0.3) 80%,rgba(173, 107, 204, 0.4361) 15%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
}
#sloGan1{
  background: linear-gradient(81deg, rgba(32, 139, 216, 0.3) 80%,rgba(173, 107, 204, 0.4361) 15%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
}



.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.game-board {
  display: flex;
  width: 150px;
  margin: 0 auto;
  padding-left: 2em;
}


#eggDiv{
  margin-top: 3em;
  display: none;
  margin-bottom: 4em;
}

#twitterDiv{
  margin-top: 1em;
  margin-bottom: 1.5em;
}

#tweetBtn{
  margin-top: 1em;
}

#facebookBtn{
  margin-bottom: 3em;
}