/* CSS FOR navbar.component.js*/
#createOrViewQuestionDive{
    border: solid white 2px;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(32, 139, 216, 0.19) 43.58%, rgba(204, 224, 239, 0) 85.03%);
}

#createOrViewLink{
    background-color: rgba(196, 196, 196, 0.15);
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.2);
    padding-bottom: 3em;
    padding-top: 3em;
    width: 80%;
}

#viewQuestionBtn{
    margin-top: 3em;
}
#createPageGoBackBtn{
    margin-top: 2em;
    margin-right: 1em;
}

/* CSS FOR CREATE-EXERCISE.COMPONENTS.JS*/

#createNewQuestionPage{
    padding-top: 5em;
    border: solid white 2px;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(32, 139, 216, 0.19) 43.58%, rgba(204, 224, 239, 0) 85.03%);
    
}

/* CSS FOR exercises-list.COMPONENTS.JS*/

#viewListedQstionPage{
    
    padding-top: 5em;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(32, 139, 216, 0.19) 43.58%, rgba(204, 224, 239, 0) 85.03%);
    
}

