.homepage-content{
    position: relative;
    background: #FFFFFF;
    margin: auto;
    background: linear-gradient(23.5deg, rgba(32, 139, 216, 0.2) 70%,rgba(173, 107, 204, 0.4361) 30%);
    text-align: center;
}

.home-buttons{
    display: grid;
    grid-template-rows: repeat(6, 90px);
    justify-items: center;
}

.home-button{
    height: 70px;
    width: 220px;
    border-radius: 20px;
    font-family: Myanmar Sans Pro;
}

#homeH1{
    color: white;
    text-align: center;
    font-size: 2em; 
    margin-top: 0.5em;
}