/*CSS FOR JOIN.JS*/
#joinDiv{
    background: rgb(174,211,237);
    background: linear-gradient(0deg, rgba(174,211,237,0.5592612044817927) 0%, rgba(236,216,240,0.7469362745098039) 100%);
    height: 100vh;
    padding-top: 5em;
}

#connectSearch{
    margin: 2em;
}

/*CSS FOR CREATE-USER.JS*/
.form-group{
    margin-top: 1em;
    margin-bottom: 1em;
}
