
.question {
    align-content: center;
    background-color: rosybrown;
    color: white;
    width: 80%;
    margin: auto;
    padding: 1em;
}

.clock {
    font-size: 1.5em;
    margin-bottom: 3em;
    padding: 1.3em;
}

h5 {
    background-color: blanchedalmond;
    border-radius: 2em;
    font-size: x-large;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    color: salmon;
    width: 60%;
}

.selected {
    background: linear-gradient(to left, pink, coral) !important;
}

.options {
    border: .2em solid white;
    cursor: pointer;
}

.answer-container {
    display: inline-block;
    width: 50%;
}

.answer {
    background-color: whitesmoke;
    border-radius: 2em;
    color: black;
    cursor: pointer;
    margin: 2em;
    padding: 1em;
    /* transition: 0.3s linear all; */
    text-align: center;
    width: 80%;
}

.answer:hover {
    background-color: sandybrown;
}

.button-container button {
    background-color: tomato;
    box-shadow: snow;
    text-align: center;
    border-radius: 1em;
    padding: 1em;
    color: white;
    cursor: pointer;
}